# Visual Studio
.vs/
*.user
*.suo

# Build
bin/
obj/
*/obj/
*/bin/

# MAUI
**/Platforms/Android/obj/
**/Platforms/Android/bin/
**/Platforms/iOS/obj/
**/Platforms/iOS/bin/
**/Platforms/MacCatalyst/obj/
**/Platforms/MacCatalyst/bin/
**/Platforms/Windows/obj/
**/Platforms/Windows/bin/

# Resizetizer output
*/resizetizer/**
